<h1 class="text-center">Semester#index</h1>

<%= month_calendar events: @holidays do |date, holidays| %>
  <%= date.strftime("%-m/%-d") %>

  <% holidays.each do |holiday| %>
    <div>
      <p>Holiday</p>
    </div>
  <% end %>
<% end %>
