<div class="panel panel-default">
  <div class="panel-body">
    <h1 class="text-center"><%= current_user.username %>'s Dashboard</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title text-center">iBT Toefl Summer 2017</h3>
          </div>
          <div class="panel-body">
            <h3>Attendance</h3>
            <h3>Participation</h3>
            <h3>Homework</h3>
            <h3>Quizzes</h3>
            <h3>Comments</h3>
            <h3><%= link_to "Class Overview", classes_path %></h3>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title text-center">Intro to Toefl Summer 2017</h3>
          </div>
          <div class="panel-body">
            <h3>Attendance</h3>
            <h3>Participation</h3>
            <h3>Homework</h3>
            <h3>Quizzes</h3>
            <h3>Comments</h3>
            <h3>Class Overview</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <h3>Past Classes <span class="badge">6</span></h3>
    <h3>Calendar</h3>
    <h3>Student Records <span class="badge">37</span></h3>
    <h3>Final Grade Reports</h3>
  </div>
</div>
