<div class="nested-fields form-inline">
  <%= f.input :given_name, label: false, placeholder: 'Given Name' %>
  <%= f.input :family_name, label: false, placeholder: 'Family Name' %>
  <%= f.input :nickname, label: false, placeholder: 'Nickname' %>
</div>
