<th>Students</th>
<th>Official Name</th>
<th>Attendance</th>
<th>Participation</th>
<th>Homework</th>
<th>Quizzes</th>
<th>Comments</th>
<form class="form-horizontal">
  <fieldset>
    <legend>Create a Class</legend>
    <%= form_for @course do |f| %>
      <div class="form-group">
        <%= f.label :name %>
  </fieldset>
</form>
